{% extends "base.jinja2" %}
        {% block title %}Home/List view{% endblock %}

 {% block content %}
 <div id="disqus_thread></div>
<script>

/**
 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
/*
var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//palindromed.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


            {% for post in posts %}
                <div class="container col-md-5 col-md-offset-2">
                    <article>
                        <a href="{{request.route_url('detail', post_id=post.id)}}" ><h3> {{ post.title }} </h3></a>
                        <p class=""> {{ post.created | datetimeformat }} </p>
                    </article>
                </div>
                <br>

            {% endfor %}





{% endblock %}

